// Global styles

.notifications {
  margin-top: 20px;
}

/* clase para no resaltar el icono de la toolbar de login
   cuando se está en la página de login */
.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active.hide-active:before {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.right-buttons-bar {
  position: absolute;
  right: 10%;
}

.v-main, .v-tabs-items {
  background-color:#e2e5ed !important;
}

.box {
  width: 70%;
  background-color: whitesmoke;
  padding: 3.5em 1em;
  margin: 1em;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.my-container {
  width: 100%;
  height: 100%;
}

.v-tabs-bar {
  background-color: #f3f3f5;
}
